In [34]:
import pandas as pd
import requests
pd.set_option('display.max_columns', None)
import time
import numpy as np

In [52]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=PTS'

In [43]:
r = requests.get(url=test_url).json()

In [51]:
table_headers = r['resultSet']['headers']

In [45]:
pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF
0,203507,1,Giannis Antetokounmpo,1610612749,MIL,2,21.5,8.0,15.5,0.516,0.0,0.0,0.000,6.0,8.5,0.706,2.5,6.0,8.5,3.0,0.0,1.0,1.0,22.0,23.5
1,203076,2,Anthony Davis,1610612747,LAL,4,25.5,9.0,16.5,0.545,1.3,4.3,0.294,2.5,4.8,0.526,1.5,8.0,9.5,2.5,1.0,1.3,1.3,21.8,25.0
2,1628973,3,Jalen Brunson,1610612752,NYK,4,22.8,7.0,12.3,0.571,1.8,4.0,0.438,5.8,6.8,0.852,0.3,1.8,2.0,4.3,0.3,0.0,1.8,21.5,20.0
3,1630162,4,Anthony Edwards,1610612750,MIN,3,27.0,8.0,18.7,0.429,4.3,12.3,0.351,0.7,1.3,0.500,0.0,3.0,3.0,3.0,0.3,0.0,2.0,21.0,14.0
4,1630224,5,Jalen Green,1610612745,HOU,4,23.8,6.3,14.3,0.439,4.0,9.3,0.432,4.0,5.0,0.800,0.3,3.0,3.3,1.0,0.5,0.5,1.8,20.5,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,1642484,549,RayJ Dennis,1610612746,LAC,1,11.0,0.0,3.0,0.000,0.0,3.0,0.000,0.0,0.0,0.000,0.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,3.0
566,1642461,549,Spencer Jones,1610612743,DEN,2,7.0,0.0,1.0,0.000,0.0,1.0,0.000,0.0,0.0,0.000,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,-0.5
567,1630678,549,Terry Taylor,1610612758,SAC,3,5.0,0.0,1.3,0.000,0.0,0.7,0.000,0.0,0.0,0.000,0.0,0.3,0.3,1.0,0.3,0.0,0.7,0.0,-0.3
568,1630342,549,Trhae Mitchell,1610612740,NOP,1,5.0,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
569,1642019,549,Will Richardson,1610612743,DEN,1,1.0,0.0,1.0,0.000,0.0,1.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0

In [46]:
del temp_df1, temp_df2, temp_df3

NameError: name 'temp_df1' is not defined

In [ ]:
df_cols = ['Year', 'Season_type'] + table_headers

In [ ]:
pd.DataFrame(columns=df_cols)

In [ ]:
headers = {
    

    
}

In [40]:
df = pd.DataFrame(columns=df_cols)
season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22']

for y in years:
    for s in season_types:
        api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url=api_url, headers=).json()
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
        temp_df2 = pd.DataFrame({'Year':['2012-13' for i in range(len(temp_df1))],
                                'Season_type':['Regular%20Season' for i in range(len(temp_df1))]})
        temp_df3 = pd.concat([temp_df2, temp_df1], axis=1)
        df = pd.concat([df, temp_df3], axis=0)

SyntaxError: invalid syntax (2231558350.py, line 7)